@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<body>
    <p>
        <img src="~/Content/Img/photo1.jpg" alt="Фотография 1" width="240" height="150">
        <img src="~/Content/Img/photo5.jpg" alt="Фотография 5" width="240" height="150">
        <img src="~/Content/Img/photo8.jpg" alt="Фотография 8" width="240" height="150">
    </p>
<p>The Obo National Petroleum Corporation (ONPC) is the state oil corporation which was established on April 1, 1977.
     In addition to its exploration activities, the Corporation was given powers and operational interests in refining, petrochemicals 
    and products transportation as well as marketing. Between 1978 and 1989, NNPC constructed refineries in Warri, Kaduna and Port Harcourt
     and took over the 35,000-barrel Shell Refinery established in Port Harcourt in 1965.
    In addition to these subsidiaries, the industry is also regulated by the Department of Petroleum Resources (DPR), a department within 
    the Ministry of Petroleum Resources. The DPR ensures compliance with industry regulations; processes applications for licenses, leases 
    and permits, establishes and enforces environmental regulations.</p>
</body>