@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Corporate Headquarters<br />
   ONPC Towers, Central Business District, <br />
   Herbert Macaulay Way, <br />
   P.M.B. 190, Garki, Abuja.<br />
    General Inquiries <br />
    Please fill out the contact form below or e-mail us at <a href="mailto:imeimeobo@yahoo.com">imeimeobo@yahoo.com</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:karmazct@mail.ru">karmazct@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:dmitriy.ignatenko.96@mail.ru">dmitriy.ignatenko.96@mail.ru</a><br />
    <strong>Our Email:</strong> <a href="mailto:imeimeobo@yahoo.com">imeimeobo@yahoo.com</a><br />
    <strong>Our VK:</strong> <a href="mailto:https://vk.com/id253247884">https://vk.com/id253247884</a><br />
</address>