@using OilProducts.Models;

@model System.Collections.Generic.IList<ApplicationUser>

@{
    ViewBag.Title = "ShowUsers";
}

<h2>All users</h2>

<table class="table">
    <tr>
        <th>
            User name
        </th>
        <th>
            User roles
        </th>
    </tr>

    @foreach (ApplicationUser user in Model) 
    {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @user.SecurityStamp
            </td>
        </tr>
    }

</table>
